* {
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", monospace;
}

#herotxt {
    font-family: "Syne", sans-serif;
}


.pulse {
    animation: pulse 1s infinite ease-in;
}

@keyframes pulse {
    0% {
        visibility: hidden;
    }

    55% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.scrolled {
    /* border-b border-[#2a2a3e] */
    border-bottom: 1px solid #2a2a3e;
    background: #111118;
}

.activeBtn {
    background: #00ff88;
    color: #000;
}